<div class="row">
	<div class="col-xs-12">
		<h3>Account Settings</h3>
	</div>
</div>
<div class="row">
	<div class="x_panel">
		<div class="x_content">
			<div class="row content">
				<div class="col-xs-8 col-sm-9">
					<h2 id='accountname'>name</h2>
					<span id='accountlocation'>location</span>
				</div>
				<div class="col-xs-4 col-sm-3">
					<div class="tile-stats text-center">
						<span>Type</span>
						<h2 id='accounttype'>Free Trial</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="x_panel">
		<div class="x_content">	
		</div>
	</div>
</div>
<script>
portal.initializeStripeDetails();
</script>