<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3 id='candidatename'></h3>
		</div>
		<div class="title_right">
			<button id='backtosearch' class="btn btn-default hidden pull-right" type="button" onClick='portal.showComponent("completed_applications");'>
				Back to Search Results</button>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div id='applicantprofile' class="x_panel">
				<div class="x_title">
				<h3>Application Details <a class="collapse-link pull-right small"><i class="fa fa-chevron-up"></i></a></h3>
				</div>
				<div class="x_content">
						<div id='applicantscore' style="height:44px;font-size:20px;"></div>
						<table class="table table-hover">
							<tbody>
								<tr title="email address">
									<td><span><i class="fa fa-envelope"></i></span></td>
									<td><span id='candidateemail'></span></td>
								</tr>
								<tr title="home address">
									<td><span><i class="fa fa-home"></i></span></td>
									<td><span id='candidateaddress'></span></td>
								</tr>
								<tr title="position applied to">
									<td><span><i class="fa fa-briefcase"></i></span></td>
									<td><span id='candidateposition'></span></td>
								</tr>
								<tr title="location applied to">
									<td><span><i class="fa fa-map-marker"></i></span></td>
									<td><span id='candidatelocation'></span></td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
			<div id='criticaltraitscores' class="x_panel hidden">
				<div class="x_title">
					<h3>Critical Trait Scores
					  <a class="collapse-link pull-right small"><i class="fa fa-chevron-up"></i></a>
					</h3>
				</div>
				<div class="x_content">
					<div>
						<table class='table table-hover'>
							<tbody id='assessmentresults'>
							</tbody>
						</table>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div id='scorescolumn' class="col-md-8 col-sm-8 col-xs-12">
			<div id="benchmarks" class="x_panel">
				<div class="x_content" style="line-height: 26px;">
					<div class="col-xs-12 col-sm-2">Compare to:</div>
					<div class='col-xs-12 col-sm-10 text-center' id='benchmarkgroups'></div>
				</div>
			</div>
			<div id='predictionpanel' class='x_panel hidden'>
				<div class="x_title">
					<h3>Predictions
					  <a class="collapse-link pull-right small"><i class="fa fa-chevron-up"></i></a>
					</h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
				    <h2>Composite Score: <span id='compositescore'></span></h2>
					<h4 id='fulltextdesc'></h4>
					<hr>
					<div class='container fluid text-center' id='predictions'>
					</div>
					<hr>
					<div class='container fluid text-center' id='histograms'>
					</div>
				</div>
			</div>
			<div id='assessmentscores' class='x_panel hidden'>
				<div class="x_title">
					<h3>Assessed Scores <a class="collapse-link pull-right small"><i class="fa fa-chevron-up"></i></a></h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div>
						<span id='assessmentdate' class='pull-right'>Date</span>
						<h4 id='assessmentname'>Assessment</h4>
						<span id='showall' class='pull-right'><a href="#" onclick="portal.showAllDetails()">Click <i class="fa fa-plus-square-o"></i> to show detailed explanations</a></span>
						<span id='hideall' class='hidden pull-right'><a href="#" onclick="portal.hideAllDetails()">Click <i class="fa fa-minus-square-o"></i> to hide detailed explanations</a></span>
					</div>
					<div>
						<table class='table table-hover'>
							<tbody id='detailassessmentresults'>
							</tbody>
						</table>
						<hr>
					</div>
				</div>
			</div>
			<div id='evaluations' class='x_panel hidden'>
				<div class="x_title">
					<h3>Evaluated Scores <a class="collapse-link pull-right small"><i class="fa fa-chevron-up"></i></a></h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div>
					<h4>Scores</h4>
						<table class='table table-hover'>
							<tbody id='gradedresults'>
							</tbody>
						</table>
						<hr>
					<h4>Responses</h4>
						<div id='gradeablescontainer'>

						</div>
					</div>
				</div>
			</div>
			<div id='references' class='x_panel hidden'>
				<div class="x_title">
					<h3>Reference Check Results <a class="collapse-link pull-right small"><i class="fa fa-chevron-up"></i></a></h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div>
						<table id='referencetable' class='table table-hover table-condensed' width='100%'></table>
						<hr>
					    <h4>Reference Scores</h4>
						<table class='table table-hover'>
							<tbody id='referenceresults'>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id='selfevaluation' class='x_panel hidden'>
				<div class="x_title">
					<h3>Self Evaluation Results <a class="collapse-link pull-right small"><i class="fa fa-chevron-up"></i></a></h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div>
					    <h4>Personal Ratings</h4>
						<table class='table table-hover'>
							<tbody id='personalratings'>
							</tbody>
						</table>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
<script>
    portal.renderApplicantDetails();
    portal.renderAssessmentScore(false);
	portal.renderPredictions();
	portal.renderAssessmentScore(true);
	portal.initRespondantGradeables();
	portal.initRespondantReferences();
	portal.addBenchmarksToScoreDetail();
	portal.activateUIElements();
	if (portal.searchResults != null) $('#backtosearch').toggleClass('hidden');
</script>
