<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-3">
		<h3>Candidate Search</h3>
	</div>
	<div class="col-md-9 col-sm-9 col-xs-12 pull-right">
		<form class="form-inline pull-right" id='refinequery'>
			<input type="hidden" name="statusLow" value="1">
			<input type="hidden" name="statusHigh" value="25">
			<div class="form-group">
				<div id="reportrange" class="form-control"
					style="line-height: 1.42857143;">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span></span>
					<b class="caret"></b>
				</div>
				<input type=hidden name="fromdate" id='fromdate'> <input
					type=hidden name="todate" id='todate'>
			</div>
			<div class="form-group">
				<select class="form-control" id="locationId" name="locationId"
					onChange='portal.searchRespondants()'>
					<option value=-1>all locations</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" id="positionId" name="positionId"
					onChange='portal.searchRespondants()'>
					<option value=-1>all positions</option>
				</select>
			</div>
		</form>
	</div>
</div>
<div class="row content">
	<div class="col-sm-12">
		<div class="x_panel">
			<div class="waiting hidden" id="waitingmodal">
				<i class="fa fa-spinner fa-spin"></i>
			</div>
			<div class="x_title">
				<h4>Scored Candidates</h4>
			</div>
			<div class="x_content" id="respondant_list">
				<table id="respondants" class="table display table-condensed" width="100%"></table>
			</div>
		</div>

		<div class="col xs-12 col-sm-4 col-md-4">
			<div id='applicantprofile' class="x_panel hidden">
			<div class="x_title">
				<div style='display:inline-block;margin-left:5px;'><h3 id='candidatename'></h3></div>
			</div>
				<div class="x_content">
						<div id='applicantscore' style="height:44px;font-size:20px;"></div>
						<table class="table table-hover">
							<tbody>
								<tr title="email address">
									<td><span><i class="fa fa-envelope"></i></span></td>
									<td><span id='candidateemail'></span></td>
								</tr>
								<tr title="home address">
									<td><span><i class="fa fa-home"></i></span></td>
									<td><span id='candidateaddress'></span></td>
								</tr>
								<tr title="position applied to">
									<td><span><i class="fa fa-briefcase"></i></span></td>
									<td><span id='candidateposition'></span></td>
								</tr>
								<tr title="location applied to">
									<td><span><i class="fa fa-map-marker"></i></span></td>
									<td><span id='candidatelocation'></span></td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>	
		<div class="col xs-12 col-sm-8 col-md-8">
			<div id='criticaltraitscores' class="x_panel hidden">
				<div class="x_title">
					<div><h3>Critical Trait Scores</h3></div>
				</div>
				<div class="x_content">
					<div>
						<table class='table table-hover'>
							<tbody id='assessmentresults'>
							</tbody>
						</table>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		portal.updatePositionSelect(false);
		portal.updateLocationSelect(false);
		portal.initializeDatePicker( function() {portal.searchRespondants();});
		portal.initRespondantsTable();
	});
</script>