<div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <h3>Dashboard</h3>
                        </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 pull-right">
						<form class="form-inline pull-right" id='refinequery'>
								<div class="form-group">
									<div id="reportrange" class="form-control" style="line-height: 1.42857143;">
									<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
									<span></span> <b class="caret"></b>
									</div>
								    <input type=hidden name="fromdate" id='fromdate'>
								    <input type=hidden name="todate" id='todate'>
								</div>
								<div class="form-group">
									<select class="form-control" id="locationId" name="locationId" onChange='portal.requestDashUpdate()' style="max-width:200px;">
										<option value=-1>all locations</option>
									</select>
								</div>
                            	<div class="form-group">
									<select class="form-control" id="positionId" name="positionId" onChange='portal.requestDashUpdate()' style="max-width:200px;">
										<option value=-1>all positions</option>
									</select>
								</div>
						</form>
							</div>
						</div>
<div class="clearfix"></div>
<div class="row top_tiles" id="tilesData">
	<div class="animated flipInY col-md-3 col-sm-6 col-xs-12 tile_stats_count">
		<div class="tile-stats">
			<div class="right">
				<div class="icon">
					<i class="fa fa-users"></i>
				</div>
				<div class="count" id='invitecount'>0</div>
				<h3>Invited</h3>
			</div>
		</div>
	</div>
	<div class="animated flipInY col-md-3 col-sm-6 col-xs-12 tile_stats_count">
		<div class="tile-stats">
			<div class="right">
				<div class="icon">
					<i class="fa fa-check-square-o"></i>
				</div>
				<div class="count" id='completedcount'>0</div>
				<h3>Completed</h3>
			</div>
		</div>
	</div>
	<div class="animated flipInY col-md-3 col-sm-6 col-xs-12 tile_stats_count">
		<div class="tile-stats">
			<div class="right">
				<div class="icon">
					<i class="fa fa-bar-chart"></i>
				</div>
				<div class="count" id='scoredcount'>0</div>
				<h3>Scored</h3>
			</div>
		</div>
	</div>
	<div class="animated flipInY col-md-3 col-sm-6 col-xs-12 tile_stats_count">
		<div class="tile-stats">
			<div class="right">
				<div class="icon">
					<i class="fa fa-user-plus"></i>
				</div>
				<div class="count" id='hiredcount'>0</div>
				<h3>Hired</h3>
			</div>
		</div>
	</div>
</div>
<div class="row" id="smblinkdisplay">
	<div class="col-xs-12">
		<div class="x_panel">
			<div class="x_content">
			<h4>Assessment Link: <a id="staticlink" target="blank" href="#">default</a></h4>
			<p>Share this link with applicants that you want to assess, or use the 
			  <a onclick="portal.showComponent('invite_applicant')" href="#">invite applicant</a>
			  page to send a personal invitation</p>
			</div>
			<div>
			<div class="x_content hidden" id="invitationsent">
        		<h4>Invitation Sent</h4>
    			<button type="button" class="btn btn-block btn-default" onclick='portal.resetInvitation();'>Invite Another</button> 
        	</div>
        	<div class="x_content" id="invitationform">
        	  <form id='inviteapplicant' name="inviteapplicant" onsubmit="portal.inviteApplicant();return false;"
        	      class="form form-inline">
			        <input type="text" class="input-sm form-control" id="firstName" name="firstName" placeholder="First Name" required>
        	      	<input type="text" class="input-sm form-control" id="lastName" name="lastName" placeholder="Last Name">
				    <input required class="input-sm form-control" type="email" name="email" required placeholder="email" required>
					<button type="submit" class="btn btn-sm btn-primary">Send<i id="spinner" class="fa fa-spinner fa-spin hidden"></i></button>
        		</form>
        	</div>
			</div>
		</div>
	</div>      	
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3">
		<div class="x_panel">
			<div class="x_title">
				<h4>
					Applicants <i class="fa fa-users pull-right"></i>
				</h4>
			</div>
			<div class="x_content">
				<div id="appliedNoData" class="no-data hidden">No Data Available</div>
				<div>
					<canvas id="dashApplicants" width="100" height="100"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="x_panel">
			<div class="x_title">
				<h4>
					Hired <i class="fa fa-bar-chart pull-right"></i>
				</h4>
			</div>
			<div class="x_content">
				<div id="hiredNoData" class="no-data hidden">No Data Available</div>
				<div>
					<canvas id="dashHires" width="100" height="100"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="x_panel">
			<div class="x_title">
				<h4>
					Hire Rate<i class="fa fa-bar-chart pull-right"></i>
				</h4>
			</div>
			<div class="x_content" id='hirerates'>
            </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h4>
					Hiring Mix <i class="fa fa-bar-chart pull-right"></i>
				</h4>
			</div>
			<div class="x_content">
				<div id="hiremixNoData" class="no-data hidden" style="line-height:325px;height:325px;">No Data Available</div>
				<div>
					<canvas id="dashHistory" style="width: 100%, height: auto;"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h4>Recent Candidates<i class="fa fa-users pull-right"></i></h4>
			</div>
			<div class="x_content">
              <ul class="list-unstyled top_profiles scroll-view" tabindex="5001" style="overflow-y:scroll;outline: none;" id="recentcandidates"></ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    	portal.initializeDatePicker( function() {portal.requestDashUpdate();});
		portal.updatePositionSelect(false);
		portal.updateLocationSelect(false);
		portal.initDashBoard();
    });
</script>