/**
 * 1.0 Cover Page
 * ----------------------------------------------------------------------------
 */

body.coverpage {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

audio {
	width: 160px;
}
.table-condensed>tbody>tr>td {
	vertical-align: middle;
}

/* 
 * Custom Stuff
 */
 

.benchmark {
    width: 26px;
    height: 26px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
}

.progress .benchmark {
	margin-top: 2px;
    --val: 0%;
    margin-left: -moz-calc(var(--val) - 13px);
    margin-left: -webkit-calc(var(--val)- 13px);
    margin-left: -o-calc(var(--val) - 13px);
    margin-left: calc(var(--val) - 13px);
    z-index: 99;
    position: absolute;
}


.benchmark.hidebm-1, .benchmark.hidebm-2,
.benchmark.hidebm-3, .benchmark.hidebm-4
{
	display: none;
}

.showbm-1 .benchmark.hidebm-1, .showbm-2 .benchmark.hidebm-2,
.showbm-3 .benchmark.hidebm-3, .showbm-4 .benchmark.hidebm-4
{
    display: block;
}

.selectbm-1, .selectbm-2,
.selectbm-3, .selectbm-4 {
	display:inline-block;
    float:right;
    text-align:left;
    margin-left:10px;
    cursor: pointer;
}

.showbm-1 .selectbm-1, .showbm-2 .selectbm-2,
.showbm-3 .selectbm-3, .showbm-4 .selectbm-4 {
    text-decoration: underline;
}

.selectbm-1 .benchmark, .selectbm-2 .benchmark,
.selectbm-3 .benchmark, .selectbm-4 .benchmark {
    margin-bottom: 0px;
    line-height: 20px;
    opacity: .5;
}

.showbm-1 .selectbm-1 .benchmark,
.showbm-2 .selectbm-2 .benchmark,
.showbm-3 .selectbm-3 .benchmark,
.showbm-4 .selectbm-4 .benchmark {
    opacity: 1;
}

.square  {
    float:left;
    position: relative;
    width: 23%;
    padding-bottom : 23%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    opacity: 1;
    overflow: hidden;
    outline: 1px solid;
}

.profilesquare {
	height: 30px;
	width: 30px;
	vertical-align:middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
			   					
.profilesquare i {
	margin: auto;
	float: none;
	font-size:17px;
	line-height:28px;
}

.profilebadge {
  float: left;
  font-size:22px;
  padding:3px;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:2px solid #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  line-height: 35px;
  width:45px;
  height:45px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;	
}

.profilemini {
  margin: auto;
  font-size:13px;
  padding:1px;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:1px solid #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  vertical-align:middle;
  width:22px;
  height:22px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;	
}

.scaleright, .scaleleft {
  background: rgb(255,255,255);
  font-weight: normal;
  margin-top: 10px;
  padding: 3px;
}

.scaleright {
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(132,132,132,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(132,132,132,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(132,132,132,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#848484',GradientType=1 );
	text-align: right;
	right:25px;
}
.scaleleft {
	text-align:left;
	left:25px;
}
.scaleright:before, .scaleright:after {
    width: 20px;
    height: 70%;
    position: absolute;
    left: 100%;
    content: "";
}

.scaleleft:before, .scaleleft:after {
    width: 20px;
    height: 70%;
    position: absolute;
    right: 100%;
    content: "";
}

.scaleright:before {
    top: -20%;
    background: linear-gradient(to right top, #848484 50%, transparent 50%)
}

.scaleright:after {
    top: 50%;
    background: linear-gradient(to right bottom, #848484 50%, transparent 50%)
}

.scaleleft:before {
    top: -20%;
    background: linear-gradient(to left top, #FFF 50%, transparent 50%)
}

.scaleleft:after {
    top: 50%;
    background: linear-gradient(to left bottom, #FFF 50%, transparent 50%)
}

.selected {
    background-color: #eee;
}

.squarecontent {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5%;
	
}

.squaretable {
	display: table;
	width: 100%;
	height: 100%;
}

.squaretext {
    width:100%;     
	display: table-cell;
    vertical-align: middle;
    font-family: Comfortaa;
    font-size: 1.3vw;
    font-weight: bold;
}

.waiting {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	font-size: 48px;
    text-align: center;
    z-index: 999;
    background: black;
    opacity: .5;
    color: white;
    margin-left: -17px;
    margin-top: -12px;
}

.card-solid, .card-dashed {
	border-width: 1px;
	border-color: #ddd;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(170,170,170,1);
	-moz-box-shadow: 1px 1px 1px 1px rgba(170,170,170,1);
	box-shadow: 1px 1px 1px 1px rgba(170,170,170,1);
}

.card-solid {
	border-style: solid;
}

.card-dashed {
	border-style: dashed;
}

.media-control {
	border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 45px;
    width: 45px;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    padding: 0px;
}

.media-control-sm {
	border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 22px;
    width: 22px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    padding: 0px;
}


/**
 * Rating Question Types
 * ----------------------------------------------------------------------------
 */

div.stars {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

input.star { display: none; }
label.star {
  float: right;
  font-family: FontAwesome;
  padding: 7px;
  font-size: 32px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FE7;
  text-shadow: 0 0 8px #333;
  transition: all .25s;
} 
label.star:hover {
  color: #FE7;
  text-shadow: 0 0 8px #333;
  transform: scale(1.1);
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

input.thumbs-up, input.thumbs-down { display: none; }
label.thumbs-up, label.thumbs-down {
  font-family: Roboto,Verdana,FontAwesome;
  text-align: right;
  background-color: white;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  font-size: 25px;
  line-height: 45px;
  border-style: solid;
  border-width: 1px;
  color: #444;
  transition: all .2s;
  padding: 0px;
}

label.thumbs-up:before { content: '\f087'; padding-right: 10px; }
input.thumbs-up:checked+label.thumbs-up:before { content: '\f164'; padding-right: 10px; color: #0080ff;}

label.thumbs-down:before { content: '\f088'; padding-right: 10px; }
input.thumbs-down:checked+label.thumbs-down:before { content: '\f165'; padding-right: 10px; color: #0080ff;}
input.thumbs-up:checked+label.thumbs-up, input.thumbs-down:checked+label.thumbs-down { color: #0080ff;}


input.namecheck { display: none; }
label.namecheck {
  background-color: white;
  border-radius: 3px;
  font-size: 12px;
  line-height: 12px;
  border-style: solid;
  border-width: 1px;
  color: #337ab7;
  transition: all .2s;
  padding: 3px;
}

input.namecheck:checked+label.namecheck {
	background-color: #337ab7;
	color: white;
	font-weight: bold;
}



/***
 *
 *  Better Radio and Checkboxes
 *
 */


input.cleancheck, input.cleanradio { display: none; }
label.cleancheck:before, label.cleanradio:before {
  font-family: 'FontAwesome';
  color: #337ab7;
  transition: all .2s;
  padding: 3px;
}

label.cleancheck:before {
	content: '\f096';
}

label.cleanradio:before {
	content: '\f10c';
}
	
input.cleancheck:checked+label.cleancheck:before {
	content: '\f046';
}

input.cleanradio:checked+label.cleanradio:before {
	content: '\f192';
}

/***
 *
 *  Styles for file-uploader
 *
 */

.fileupload {
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

.fileupload input,
.fileupload i,
.fileupload.has-file input + label,
.fileupload.has-file .empty,
.filename,
.fileerror {
	display: none;
}

.fileupload input + label {
    color: white;
    padding: 5px;
    font-weight: 500;
    background-color: #337ab7;
    display: inline-block;
}

.fileupload:before {
    content: "\f019";
    font-family: FontAwesome;
    position: relative;
    color: rgba(51, 122, 183, 0.5);
    font-size: 40px;
    padding: 5px;
    display:block;
}

.fileupload input:focus + label,
.inputfile:focus + label,
.fileupload input + label:hover {
    background-color: #2e6da4;
}

.fileupload.is-dragover {
  background-color: #F7F7F7;
}

.fileupload.has-file {
  background-color: #ccffcc;
}

.fileupload.has-file:before {
	content: "\f05d";
    color: #22ff22;
}

.fileupload.has-file i,
.fileupload.has-file .filename {
  display: inline;
}

.fileupload.has-error {
  background-color: #cc8888;
}

.fileupload.has-error .fileerror {
  display: block;
}

.fileupload.has-error:before {
	content: "\f071";
    color: #dd4444;
}

/***
 *
 *  Styles for setup-wizard
 *
 */


.wizard {
	position: relative;
}

.wizard-steps { overflow: hidden; position: relative; margin-top: 20px; }

.wizard-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.wizard-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #66ccff; }

.wizard-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; text-align:center;}

ul.wizard-step-list  {
	margin-left: 15%;
    margin-right: 15%;
    padding-left: 50px;
    padding-bottom: 14px;
    border: 1px solid #66ccff;
    width: 70%;
    text-align: left;
}
.wizard-step-list li {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align:middle;
}
.wizard-step-list .fa-li:before 
{
	text-align: center;
	display: inline-block; width: 40px; height: 40px; margin-top: 4px;
	font-size: 16px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	background: #fff; border: 1px solid #66ccff; color: #66ccff; line-height: 38px;
}

.wizard-step-icon {
	display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
	font-size: 16px; color: #fff; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.wizard-step.activated .wizard-step-icon {
	background: #fff; border: 1px solid #66ccff; color: #66ccff; line-height: 38px;
}
.wizard-step.active .wizard-step-icon {
	width: 48px; height: 48px; margin-top: 0; background: #66ccff; font-size: 22px; line-height: 48px;
}

.wizard-step span {
	padding-left: 55px;
	font-size: large;
}

/***
 *
 *  Styles for sidebar footer
 *
 */

.sidebar-footer {
    background-color:#172d44;
}
.sidebar-footer h2{
    font-size: 16px;
    padding-left:5px;
    color:white;
}
.sidebar-footer .tab-pane {
    padding-left: 5px;
    display: none;
}
.sidebar-footer .tab-pane span {
    color: #66ccff;
    font-style: italic;
}
.sidebar-footer .tab-pane.active {
    display: block;
    color: white;
}

/***
 *
 *  Styles for data tables
 *
 */

td.details-control {
	background: url('/images/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('/images/details_close.png') no-repeat center center;
}


@media (max-width: 767px) {
  .squaretext {
    font-size: 6.5vw;
  }
}

@media (max-width: 1200px) {
ul.wizard-step-list  {
	margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}
}
}